# Use the compiler image
image: gcc:12

stages:
  - build_and_test

compile_and_run:
  stage: build_and_test

  before_script:
    - apt-get update && apt-get install -y cmake

  script:
    - echo "Preparing build directory..."
    - mkdir -p build
    - cd build

    - echo "Running CMake..."
    - cmake ..

    - echo "Compiling..."
    - make run_tests

    - echo "Running unit tests..."
    - ./run_tests
